table, th, td {
    border: 1px solid;
}

.dog-table{
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.dog-table tr{
    background-color: #7DD9F2;
}

.dog-table tr:nth-child(odd){
    background-color: #FAFAFA;
}

.dog-table td{
    cursor: pointer;
}

.dog-table * {
    padding: 15px;
    font-size: 20px;
}


@media screen and (max-width: 1400px) {
    .dog-table{
        width: 90%;
        left: 5%;
    }
}