.app{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-start{
  justify-content: space-between;
}

.filters{
  width: 70%;
  margin: 24px auto;
}

@media screen and (max-width: 1400px) {
  .filters{
      width: 90%;
  }
}

